<div class="main-color">

  <div class="main-color">

    <div class="row">
      <div class="col-md-12">
        <h1>{{quiz.name}}</h1>
      </div>
    </div>

  </div>

  <div class="main-color" *ngFor="let question of questions; let i = index">

    <div class="col-md-12">
      <h4>{{i + 1}}. {{question.text}}</h4>
      <app-dynamic-question-preview
        [question]="question"
        [choices]="question.choices">
      </app-dynamic-question-preview>
    </div>

  </div>

  <div class="col-md-2">
    <button mat-raised-button [routerLink]="['/quizzes']">
      <mat-icon>reply</mat-icon>
    </button>
  </div>

</div>
