<qb-rich-text-editor data="{{question.text}}"></qb-rich-text-editor>


<div class="mt-12">

    <div *ngIf="question.choicesDisplayType === choicesDisplayType.Horizontal || 
                question.choicesDisplayType === choicesDisplayType.Vertical">

        <div [ngClass]="(question.choicesDisplayType === choicesDisplayType.Horizontal)?'item-group-horizontal':'item-group-vertical'">
    
            <div *ngFor="let choice of question.choices let i = index">
                <mat-checkbox [value]="choice.id.toString()" (change)="onChange($event)">
                    {{choice.text}}
                </mat-checkbox>
            </div>
    
        </div>

  
    </div>
  
    <div *ngIf="question.choicesDisplayType === choicesDisplayType.Dropdown">

        <mat-form-field appearance="outline">
            <mat-select (selectionChange)="onChange($event)" multiple>
                <mat-option *ngFor="let choice of question.choices" [value]="choice.id">
                    {{choice.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
  
    </div>
  
  </div>