<div class="card overflow-auto">
  <div class="bg-app-bar px-4 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
    <div class="title my-0 ltr:pr-4 rtl:pl-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
      <button mat-raised-button (click)="addGroup()" color="primary" fxFlex="none" fxHide.xs type="button">
        <span>Add Group</span>
      </button>
    </div>
  </div>
</div>

<div cdkDropList [cdkDropListData]="dataInfos" (cdkDropListDropped)="dropGroup($event)">


  <div *ngFor="let dataInfo of dataInfos" cdkDrag>

    <div class="card group-box">

      <div class="bg-app-bar px-4 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <div class="title my-0 ltr:pr-4 rtl:pl-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
            <span>Add Question</span>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let questionType of questionTypeKeys; let i = index"
              (click)="addQuestion(dataInfo.id, questionType)">
              {{questionLangService.getQuestionTypeLangTerm(questionType)}}
            </button>
          </mat-menu>

        </div>

        <mat-form-field fxFlex="15" fxFlexOffset="1" appearance="outline" style="margin-bottom: -1.4em">
          <mat-label>Group Name</mat-label>
          <input matInput type="text" [(ngModel)]="dataInfo.name" (focusout)="onPageNameFocusOut(dataInfo.id, dataInfo.name)">
        </mat-form-field>

        <div fxFlex></div>

        <button mat-icon-button color="primary" matTooltip="Delete Group" fxFlex="nogrow"
          (click)="deleteGroup(dataInfo.id)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

      <mat-table id={{dataInfo.id}} [dataSource]="dataInfo.dataSource" cdkDropList
        [cdkDropListData]="dataInfo.dataSource.data" [cdkDropListConnectedTo]="getConnectedList()"
        (cdkDropListDropped)="dropQuestion($event)">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Question </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="onEditClick(element)">{{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type" >
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="onEditClick(element)">{{questionLangService.getQuestionTypeLangTerm(element.type)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" matTooltip="Delete Question" fxFlex="nogrow"
              (click)="deleteQuestion(dataInfo.id, element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" style="visibility: hidden"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag class="hover:bg-hover cursor-pointer"></mat-row>
      </mat-table>

    </div>

  </div>



</div>