<mat-radio-group (change)="changeRadioButton($event)">
  
  <div class="row" *ngFor="let answer of answerData">
    <div class="col-md-6">
      <mat-form-field class="full-width">
        <mat-label>Name Answer</mat-label>
        <input matInput type="text" [(ngModel)]="answer.text">
        <button mat-button *ngIf="answer.text" matSuffix mat-icon-button aria-label="Clear" (click)="answer.name =''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-1 radio-align-vertical">
      <mat-radio-button [value]="answer.id" [checked]="answer.isCorrect">Correct</mat-radio-button>
    </div>
    <div class="col-md-1 btn-align-vertical">
      <button mat-icon-button color="accent" (click)="deleteAnswer(answer)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  
</mat-radio-group>
