<button mat-raised-button color="primary" (click)="onAddChoice()" class="mb-4">
    Add Choice
</button>

<div *ngFor="let choice of question.choices">

    <div fxLayout>

        <mat-form-field fxFlex="50%" appearance="outline">
            <mat-label>Choice Text</mat-label>
            <textarea matInput [(ngModel)]="choice.text"></textarea>
        </mat-form-field>

        <mat-checkbox 
            color="primary"
            [(ngModel)]="choice.isCorrect" 
            fxFlexOffset="2" 
            fxFlexAlign="center" 
            class="padding-bottom-fix">
            Correct
        </mat-checkbox>

        <button mat-icon-button 
            color="primary" 
            (click)="onDeleteChoice(choice)"
            fxFlexOffset="2"
            fxFlexAlign="center">
            <mat-icon class="padding-bottom-fix">delete</mat-icon>
        </button>

    </div>

    <div fxLayout>

        <mat-form-field fxFlex="50%" appearance="outline">
            <mat-label>Choice Feedback</mat-label>
            <textarea matInput [(ngModel)]="choice.feedback"></textarea>
        </mat-form-field>

    </div>

</div>
