<quill-view [content]="question.text"></quill-view>

<div *ngIf="question.choicesDisplayType === choicesDisplayType.Horizontal || 
            question.choicesDisplayType === choicesDisplayType.Vertical">

    <div
        [ngClass]="(question.choicesDisplayType === choicesDisplayType.Horizontal)?'item-group-horizontal':'item-group-vertical'">

        <div *ngFor="let choice of question.choices let i = index">
            <mat-checkbox class="item-box">
                {{choice.text}}
            </mat-checkbox>
        </div>

    </div>

</div>


<div *ngIf="question.choicesDisplayType === choicesDisplayType.Dropdown">

    TODO:

</div>