<div id="question" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

        <!-- CENTER -->
        <div class="center">

          <!-- HEADER -->
          <div class="header accent qb-container" fxLayout="row" fxLayoutAlign="none center">

            <button mat-raised-button [matMenuTriggerFor]="menu" *ngIf="options.length > 0">
                <span>OPTIONS</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let option of options" (click)="onOptionItemClick($event, option)">
                    <mat-icon *ngIf="option.enabled">done</mat-icon>
                    <span>{{option.displayName}}</span>
                </button>
            </mat-menu>
  
            <!-- APP TITLE -->
            <div fxFlex fxFlexOffset="40">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{questionLangService.getQuestionTypeLangTerm(question.type)}}
                </span>
            </div>
            <!-- / APP TITLE -->
  
            <button mat-raised-button fxFlex="nogrow" (click)="onSave()" [disabled]="!questionForm.valid">
                <span>SAVE</span>
            </button>

            <button mat-raised-button fxFlexOffset="2" [routerLink]="'/quizzes'">
                <span>RETURN</span>
            </button>

          </div>
          <!-- / HEADER -->
  
          <!-- CONTENT CARD -->
          <div class="content-card qb-container">
  
              <!-- CONTENT -->
              <div class="content">
  
                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form [formGroup]="questionForm">

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" *ngIf="isOptionEnabled('name')">
                            <mat-label>Question Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>

                        <app-rich-text-editor displayName="Question Text" textFormControlName="text">                                    
                        </app-rich-text-editor>

                        <app-rich-text-editor displayName="Correct Feedback" textFormControlName="correctFeedback" *ngIf="isOptionEnabled('correctFeedback')">                                    
                        </app-rich-text-editor>

                        <app-rich-text-editor displayName="Incorrect Feedback" textFormControlName="incorrectFeedback" *ngIf="isOptionEnabled('incorrectFeedback')">                                    
                        </app-rich-text-editor>

                        <app-question-display-type [question]="question" *ngIf="isOptionEnabled('questionDisplayType')">
                        </app-question-display-type>

                        <div fxLayout *ngIf="question.type != emptyQuestionType" >

                            <mat-form-field fxFlex="9.5" appearance="outline">
                                <mat-label>Points</mat-label>
                                <input matInput type="number" formControlName="points">
                            </mat-form-field>
            
                            <mat-checkbox class="padding-bottom-fix"
                                fxFlexOffset="2" 
                                fxFlexAlign="center" 
                                formControlName="isRequired">
                                Is Required
                            </mat-checkbox>
            
                        </div>
                        <app-choice-dynamic [question]="question"></app-choice-dynamic>
                    </form>

                </div>
  
              </div>
              <!-- / CONTENT -->
  
          </div>
          <!-- / CONTENT CARD -->
  
      </div>
      <!-- / CENTER -->

</div>


 