<div id="question" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

        <!-- CENTER -->
        <div class="center">

          <!-- HEADER -->
          <div class="header accent qb-container" fxLayout="row" fxLayoutAlign="none center">
  
            <!-- APP TITLE -->
            <div fxFlex fxFlexOffset="40">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{questionLangService.getQuestionTypeLangTerm(question.type)}}
                </span>
            </div>
            <!-- / APP TITLE -->
  
            <button mat-raised-button fxFlex="nogrow" (click)="onSave()" [disabled]="!questionForm.valid">
                <span>SAVE</span>
            </button>

            <button mat-raised-button fxFlexOffset="2" [routerLink]="'/quizzes'">
                <span>RETURN</span>
            </button>

          </div>
          <!-- / HEADER -->
  
          <!-- CONTENT CARD -->
          <div class="content-card qb-container">
  
              <!-- CONTENT -->
              <div class="content">
  
                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form [formGroup]="questionForm">

                        <mat-form-field *ngIf="isOptionEnabled(optionItemsService.OPTION_NAME)"
                            appearance="outline" 
                            floatLabel="always" 
                            class="w-100-p" >

                            <mat-label>Question Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>

                        <app-rich-text-editor displayName="Question Text" textFormControlName="text" [height]="200">                                    
                        </app-rich-text-editor>

                        <app-rich-text-editor *ngIf="isOptionEnabled(optionItemsService.OPTION_QUESTION_CORRECT_FEEDBACK)"
                            displayName="Correct Feedback" 
                            textFormControlName="correctFeedback">                                    
                        </app-rich-text-editor>

                        <app-rich-text-editor *ngIf="isOptionEnabled(optionItemsService.OPTION_QUESTION_INCORRECT_FEEDBACK)"
                            displayName="Incorrect Feedback" 
                            textFormControlName="incorrectFeedback">                                    
                        </app-rich-text-editor>

                        <app-question-display-type *ngIf="isOptionEnabled(optionItemsService.OPTION_QUESTION_DISPLAY_TYPE)"
                            [question]="question">
                        </app-question-display-type>

                        <div fxLayout *ngIf="question.type != emptyQuestionType" >

                            <mat-form-field fxFlex="9.5" appearance="outline">
                                <mat-label>Points</mat-label>
                                <input matInput type="number" formControlName="points">
                            </mat-form-field>
            
                            <mat-checkbox class="padding-bottom-fix"
                                fxFlexOffset="2" 
                                fxFlexAlign="center" 
                                formControlName="isRequired">
                                Is Required
                            </mat-checkbox>
            
                        </div>
                        <app-choice-dynamic [question]="question"></app-choice-dynamic>
                    </form>

                </div>
  
              </div>
              <!-- / CONTENT -->
  
          </div>
          <!-- / CONTENT CARD -->
  
      </div>
      <!-- / CENTER -->

</div>


 