@import "src/@fuse/scss/fuse";

#question {

    .content {

        #leftPanel {
            border-right-width: 1px;
            border-right-style: solid;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}

.qb-container{
    width: 70%;
    margin: auto;
}

.padding-bottom-fix {
    padding-bottom: 1.34375em !important
}