@import "src/@fuse/scss/fuse";

#quiz-info-structure {

    .structure {
        
        width: 100%;
        margin: 0 auto;

        .groups {
            padding: 16px;

            &:hover {

                .group {
                    border: none;
                    @include mat-elevation(12);
                }
            }

            .group {
                min-height: 100px;
                border-radius: 4px;
                overflow: hidden;
                transition: box-shadow 200ms ease-in-out;
                @include mat-elevation(1);

                .header {
                    padding: 16px 24px;
                    height: 64px !important;
                    min-height: 64px !important;
                    max-height: 64px !important;

                    .category {
                        text-transform: capitalize;
                        text-align: left;
                        font-weight: 600;
                    }

                    .length {

                        .length-icon {
                            margin-right: 8px;
                        }

                        .min {
                            font-size: 16px;
                        }
                    }
                }



            }
        }
    }

    .question-list-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    
        .mat-header-row {
            min-height: 64px;
        }
    
        .question-list-row {
            position: relative;
            cursor: pointer;
            height: 64px;
        }
    
        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
    
        .mat-column-menu {
            flex: 0 1 80px;
        }
    }
}



