<div id="quiz-info-structure">

    <div class="structure" 
        fxLayout="column" 
        fxLayoutAlign="center" 
        cdkDropList 
        [cdkDropListData]="dataInfos" 
        (cdkDropListDropped)="dropGroup($event)">

        <div *ngFor="let dataInfo of dataInfos" class="groups" cdkDrag>

            <div class="group" fxLayout="column" fxFlex="1 1 auto" >

                <div class="header" fxLayout="row" fxLayoutAlign="center center">

                    <div fxFlex fxLayoutAlign="center center">
                        <button mat-raised-button [matMenuTriggerFor]="addQuestionMenu" color="accent">
                            <span>ADD QUESTION</span>
                        </button>
                        <mat-menu #addQuestionMenu="matMenu">
                            <button mat-menu-item *ngFor="let questionType of questionTypeKeys; let i = index"
                                (click)="addQuestion(dataInfo.id, questionType)">
                                {{questionLangService.getQuestionTypeLangTerm(questionType)}}
                            </button>
                        </mat-menu>

                        <button mat-icon-button matTooltip="Reorder Groups" color="accent" class="group-dd">
                            <mat-icon cdkDragHandle>drag_indicator</mat-icon>
                        </button>

                        <div fxFlex></div>

                        <mat-slide-toggle 
                            [checked]="dataInfo.isEnabled" 
                            (change)="onChangeGroupState($event.checked, dataInfo)" 
                            matTooltip="Disable \ Enable Group"
                            class="group-status">
                        </mat-slide-toggle>

                        <button mat-icon-button (click)="mep.expanded = !mep.expanded" matTooltip="Group Settings" color="accent" class="group-settings">
                            <mat-icon>settings</mat-icon>
                        </button> 

                        <button mat-icon-button [matMenuTriggerFor]="deleteGroupMenu" color="accent" class="group-menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>       
                        <mat-menu #deleteGroupMenu="matMenu">
                            <button mat-menu-item (click)="deleteGroup(dataInfo.id)" fxFlex="nogrow">
                                <mat-icon>delete</mat-icon>
                                <span>Delete Group</span>
                            </button>
                        </mat-menu>

                    </div>

                </div>

                <mat-expansion-panel 
                    hideToggle 
                    [disabled]="true"
                    #mep="matExpansionPanel">
            
                    <app-group-info [viewModel]="dataInfo">
                    </app-group-info>
            
                </mat-expansion-panel>

                <mat-table id={{dataInfo.id}} class="question-list-table"
                    [dataSource]="dataInfo.dataSource" 
                    cdkDropList
                    [cdkDropListData]="dataInfo.dataSource.data" 
                    [cdkDropListConnectedTo]="getConnectedList()"
                    (cdkDropListDropped)="dropQuestion($event)">
            
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="onEditClick(element)">{{getDisplayName(element)}}</mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="type" >
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="onEditClick(element)">{{questionLangService.getQuestionTypeLangTerm(element.type)}}</mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="menu">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" color="accent">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deleteQuestion(dataInfo.id, element.id)" fxFlex="nogrow">
                                <mat-icon>delete</mat-icon>
                                <span>Delete Question</span>
                            </button>
                            </mat-menu>
                        </mat-cell>
                    </ng-container>
            
                    <mat-header-row *matHeaderRowDef="displayedColumns" style="visibility: hidden"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="question-list-row hover:bg-hover cursor-pointer" cdkDrag></mat-row>
                </mat-table>

            </div>

        </div>

    </div>

</div>
