<div class="vertical" *ngIf="settings.choicesDisplayType === choicesDisplayType.Vertical">
  <mat-radio-group (change)="changeCorrectChoice($event)">  
    <div  class="row" *ngFor="let choice of choices; let i = index"
      fxLayout
      fxLayout.xs="column"
      fxLayoutWrap="wrap">

      <div class="col-md-12" fxFlex="100%">
        <mat-radio-button labelPosition="before" 
          [value]="choice.id" [checked]="choice.isCorrect">{{enumChoice ? enumChoice[i] + baseSeparator: ''}}{{choice.text}}</mat-radio-button>
      </div>
    </div>
  </mat-radio-group>
</div>

<div class="horizontal" *ngIf="settings.choicesDisplayType === choicesDisplayType.Horizontal">
  <mat-radio-group (change)="changeCorrectChoice($event)">
    <div class="row"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="flex-start"
      fxLayoutWrap="wrap"
      fxLayoutGap="1%">

      <div class="col-md-3" fxFlex="30%" *ngFor="let choice of choices; let i = index">
        <mat-radio-button labelPosition="before" 
          [value]="choice.id" [checked]="choice.isCorrect">{{enumChoice ? enumChoice[i] + baseSeparator: ''}}{{choice.text}}</mat-radio-button>
      </div>
    </div>
  </mat-radio-group>
</div>

<div *ngIf="settings.choicesDisplayType === choicesDisplayType.Dropdown">
  <mat-form-field class="full-width">
    <mat-label>Choice</mat-label>
    <mat-select required (selectionChange)="selectCorrectChoice($event.value)">
      <mat-option *ngFor="let choice of choices" [value]="choice.id">
        {{choice.text}}
      </mat-option>
    </mat-select>
 </mat-form-field>
</div>
