<form [formGroup]="form">

    <div class="card main-color">

        <div class="row" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-start" fxLayoutWrap="wrap" fxLayoutGap="1%">

            <mat-form-field fxFlex fxFlexOffset="1" appearance="outline">
                <mat-label>Quiz Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

        </div>



    </div>
    
    <div *ngIf="isEditMode" class="card main-color">

        <div class="container pb-gutter">

            <div fxFlex>
                <mat-checkbox color="primary" formControlName="isPrevButtonEnabled">
                    Enable Previous Page Navigation
                </mat-checkbox>
            </div>

        </div>


        <div class="container pb-gutter">

            <mat-form-field appearance="outline">
                <mat-label>Page Settings</mat-label>
                <mat-select formControlName="pageSettings">
                    <mat-option *ngFor="let key of pageSettingsKeys" [value]="key">
                        {{pageSettings[key]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlexOffset="1" *ngIf="isQuestionsPerPageVisisble()">
                <input matInput type="number" formControlName="questionsPerPage">
            </mat-form-field>

            <mat-checkbox color="primary" formControlName="randomizeGroups" *ngIf="isRandomizeGroupsVisible()">
                Randomize Groups
            </mat-checkbox>

            <mat-checkbox color="primary" formControlName="randomizeQuestions" *ngIf="isRandomizeAllVisible()">
                Randomize Questions
            </mat-checkbox>

        </div>

    </div>

</form>