<div id="quiz-list" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent qb-container" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    assignment
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Quizzes
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterData" placeholder="Search for a quiz">
                    <button mat-button *ngIf="!isEmptyFilter()" matSuffix mat-icon-button (click)="cleanFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <!-- / SEARCH -->

        </div>
        <!-- / HEADER -->

        <!-- ADD BUTTON -->
        <button mat-raised-button [routerLink]="'/quizzes/new'" class="addButton" color="accent">
            <mat-icon>add</mat-icon>
            <span>&nbsp;&nbsp;&nbsp;ADD QUIZ&nbsp;&nbsp;</span>
        </button>
        <!-- / ADD BUTTON -->

        <!-- CONTENT CARD -->
        <div class="content-card qb-container">

            <mat-table class="quiz-list-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <ng-container matColumnDef="empty" *ngIf="!isMultiSelectMode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>                        
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="select" *ngIf="isMultiSelectMode">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                            (change)="checkAllToggle($event.checked)" 
                            [indeterminate]="isAnySelected() && !isAllSelected()"
                            [checked]="isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox 
                            (click)="$event.stopPropagation()" 
                            (change)="checkItemToggle(element)"
                            [checked]="isItemSelected(element)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Quiz Name</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="edit(element)">
                        <p class="text-truncate">{{element.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="isEnabled">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="pl-12">Visibility</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-slide-toggle [checked]="element.isEnabled"
                        (change)="onChangeQuizState($event.checked, element)" class="pl-12">
                      </mat-slide-toggle>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="statistic">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Statistic" color="accent">
                            <mat-icon>equalizer</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="preview">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Preview" (click)="preview(element)" color="accent">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="copyLink">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Copy live quiz URL to Clipboard" (click)="copyLink(element)" color="accent">
                            <mat-icon>link</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="menu">
                    <mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button [matMenuTriggerFor]="bulkMenu" matTooltip="Bulk edit" color="accent">
                            <mat-icon>apps</mat-icon>
                        </button>
                        <mat-menu #bulkMenu="matMenu">
                            <button mat-menu-item (click)="clickMultiSelection()">
                                <mat-icon>done_all</mat-icon>
                                <span>Bulk Select</span>
                            </button>
                            <button mat-menu-item (click)="bulkEnable()" [disabled]="!isAnySelected()">
                                <mat-icon>cloud_upload</mat-icon>
                                <span>Bulk Enable</span>
                            </button>
                            <button mat-menu-item (click)="bulkDisable()" [disabled]="!isAnySelected()">
                                <mat-icon>cloud_off</mat-icon>
                                <span>Bulk Disable</span>
                            </button>
                            <button mat-menu-item (click)="bulkDelete()" [disabled]="!isAnySelected()">
                                <mat-icon>delete</mat-icon>
                                <span>Bulk Delete</span>
                            </button>
                        </mat-menu>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" color="accent">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deleteQuiz(element)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete Quiz</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                </mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;" 
                    class="quiz-list-row hover:bg-hover cursor-pointer">
                </mat-row>

            </mat-table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
