<div class="vertical" *ngIf="settings.choicesDisplayType === choicesDisplayType.Vertical">
  <div  class="row" *ngFor="let choice of choices; let i = index">
    <div class="col-md-12">
      <mat-checkbox labelPosition="before" (change)="changeCheckbox()"
        [(ngModel)]="choice.isCorrect">{{enumChoice ? enumChoice[i] + baseSeparator: ''}}{{choice.text}}</mat-checkbox>
    </div>
  </div>
</div>

<div class="horizontal" *ngIf="settings.choicesDisplayType === choicesDisplayType.Horizontal">
  <div class="row">
    <div class="col-md-3" *ngFor="let choice of choices; let i = index">
      <mat-checkbox labelPosition="before" (change)="changeCheckbox()"
        [(ngModel)]="choice.isCorrect">{{enumChoice ? enumChoice[i] + baseSeparator: ''}}{{choice.text}}</mat-checkbox>
    </div>
  </div>
</div>

<div *ngIf="settings.choicesDisplayType === choicesDisplayType.Dropdown">
  <mat-form-field class="full-width">
    <mat-label>Choice</mat-label>
    <mat-select required multiple (selectionChange)="selectMultiCorrectChoice($event.value)">
      <mat-option *ngFor="let choice of choices" [value]="choice.id">
        {{choice.text}}
      </mat-option>
    </mat-select>
 </mat-form-field>
</div>
