.ck-focused {
    border: none !important;
    box-shadow: none !important;
}	

.ck.ck-editor__editable_inline {
    border: none !important;
    overflow: initial;
}

.ck.ck-editor__editable_inline>:first-child{
    margin-top: 0px;
}

.ck.ck-editor__editable_inline>:last-child {
    margin-bottom: 0px;
}

.rte-height-100 .ck-editor__editable_inline {
    min-height: 100px !important;
}

.rte-height-200 .ck-editor__editable_inline {
    min-height: 200px !important;
}

.rte-height-300 .ck-editor__editable_inline {
    min-height: 300px !important;
}