<mat-form-field 
    appearance="outline" 
    floatLabel="always" 
    fxFlex 
    [ngClass]="{'rte-height-100': height === 100, 'rte-height-200': height === 200, 'rte-height-300': height === 300, 'rte-height-400': height === 400}">

    <mat-label>{{displayName}}</mat-label>
    <textarea matInput #messageInput placeholder="Enter message" required style="display: none;"></textarea>
    <ckeditor [editor]="Editor" [formControlName]="textFormControlName" style="height: 200px"></ckeditor>

</mat-form-field>