<div id="faq" class="page-layout simple full-width">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text mb-16">
            <h1>Quiz Art</h1>
            <h2>The art of creating online quizzes</h2>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content px-16 py-24 px-sm-24 py-sm-32">

        <div class="faq" fxLayout="row wrap">

            <div class="title" fxFlex="100">Create powerful online quizzes in minutes:</div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="33" fxLayout="column" fxLayoutAlign="space-around center">
                <mat-icon class="s-100">build</mat-icon>
                <div class="question mt-20">Build</div>
                <div class="answer">
                    <p>Choose from 5 question types</p>
                    <p>Configure question options</p>
                    <p>Organize question in groups</p>
                    <p>Configure quiz options</p>
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="33" fxLayout="column" fxLayoutAlign="space-around center">
                <mat-icon class="s-100">cloud_done</mat-icon>
                <div class="question mt-20">Deploy</div>
                <div class="answer">
                    <p>Deploy as public or private quiz</p>
                    <p>Collect Leads</p>
                    <p>Set up LMS \ API integration</p>
                    <p>Get email notification</p>
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="33" fxLayout="column" fxLayoutAlign="space-around center">
                <mat-icon class="s-100">search</mat-icon>
                <div class="question mt-20">Analize</div>
                <div class="answer">
                    <p>Generate detailed reports</p>
                    <p>Set manual grades</p>
                    <p>Issue certificates</p>
                    <p>Export data in PDF</p>
                </div>
            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
