<vex-page-layout>

    <vex-page-layout-content class="vex-tabs p-0" vexContainer>
      <mat-tab-group>
        <mat-tab label="Questions">
          <div class="p-6">
          </div>
        </mat-tab>
        <mat-tab label="Settings">
          <div class="p-6">

            <app-quiz-page></app-quiz-page>

          </div>
        </mat-tab>
        <mat-tab label="Appearance">
          <div class="p-6">
          </div>
        </mat-tab>
      </mat-tab-group>
    </vex-page-layout-content>
  
  </vex-page-layout>