<vex-page-layout>

  <vex-page-layout-content class="vex-tabs p-0" vexContainer>

    <mat-tab-group>
      <mat-tab label="Questions" [disabled]='!isEditMode()'>
        <div class="p-6">
          <app-quiz-info-questions-tab [quiz]="quiz">
          </app-quiz-info-questions-tab>
        </div>
      </mat-tab>

      <mat-tab label="Settings">
        <div class="p-6">
          <app-quiz-info-settings-tab [form]="quizForm.get('settings')" [isEditMode]="isEditMode()">
          </app-quiz-info-settings-tab>
        </div>
      </mat-tab>

      <mat-tab label="Appearance" [disabled]='!isEditMode()'>
        <div class="p-6">
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="footer-stick row" fxLayout fxLayoutAlign="center" fxLayout.xs="column" fxLayoutWrap="wrap"
      fxLayoutGap="1%">

      <button mat-raised-button color="accent" type="submit" [disabled]="!quizForm.valid" (click)="onSave()">
        Save
      </button>

      <button mat-raised-button color="accent" (click)="onReturn()">
        Return
      </button>

    </div>

  </vex-page-layout-content>

</vex-page-layout>