<form [formGroup]="form">

    <div class="pt-4">

        <mat-form-field appearance="outline" fxFlex="40%">
          <mat-label>Group Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
    
        <mat-checkbox class="pt-5" color="primary" fxFlexOffset="5" formControlName="selectAllQuestions">
          Select All Questions
        </mat-checkbox>

        <div fxFlexOffset="2" *ngIf="!form.get('selectAllQuestions').value">

          <div class="pt-5">
            <label class="mat-checkbox-layout">
              <span class="mat-checkbox-label">
                Select
              </span>
            </label>
          </div>

          <mat-form-field appearance="outline" fxFlexOffset="2" fxFlex="20%">
            <mat-label>N</mat-label>
            <input matInput type="number" formControlName="countOfQuestionsToSelect">
          </mat-form-field>

          <div fxFlex class="pt-5" fxFlexOffset="2">
            <label class="mat-checkbox-layout">
              <span class="mat-checkbox-label">
                Questions
              </span>
            </label>
          </div>

        </div>

        <mat-checkbox class="pt-5" color="primary" fxFlexOffset="3" formControlName="randomizeQuestions" *ngIf="form.get('selectAllQuestions').value"> 
          Randomize Questions
        </mat-checkbox>

    </div>

</form>

 