<div class="container">

  <div class="main-color">
    <div class="row">
      <div class="col-md-12">
        <h1>{{quiz.name || "New Quiz" }}</h1>
      </div>
    </div>

    <div class="row">

      <div *ngIf="!quiz.id" class="col-md-2">
        <button class="full-width" mat-raised-button
        color="accent"
        type="submit"
        (click)="createQuiz()"
        [disabled]="!quizForm.valid"
        >Save</button>
      </div>

      <div *ngIf="quiz.id" class="col-md-2">
        <button class="full-width" mat-raised-button
        color="primary"
        type="submit"
        (click)="updateQuiz()"
        >Save</button>
      </div>

      <div class="col-md-2">
        <button class="full-width" mat-raised-button [routerLink]="['/quizlist']">
          <mat-icon>reply</mat-icon>
        </button>
      </div>

    </div>

  </div>

  <div class="main-color">

    <mat-tab-group>

      <mat-tab label="Quiz">
        <ng-template matTabContent>

          <form [formGroup]="quizForm" class="mt-3">

            <div class="row">

              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" [(ngModel)]="quiz.name" required formControlName="name">
                  <button mat-button *ngIf="quiz.name" matSuffix mat-icon-button aria-label="Clear" (click)="quiz.name =''">
                      <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <div class="row mrgn-container-toogle">
                  <mat-label class="">IsVisible</mat-label>
                  <mat-slide-toggle #toogle class="mrgn-lft-toogle" color="primary" [checked]="quiz.isVisible" (change)="clickToogle(toogle)"></mat-slide-toggle>
                </div>
              </div>

            </div>

          </form>

        </ng-template>
      </mat-tab>

      <mat-tab label="Advanced settings">
        <ng-template matTabContent>
              Settings
        </ng-template>
      </mat-tab>

    </mat-tab-group>

  </div>

  <div *ngIf="quiz.id" class="main-color">

    <div class="row">

      <div *ngIf="!hideBtnAddGroup" class="col-md-3">
        <button mat-mini-fab matTooltip="New" color="primary" [matMenuTriggerFor]="menu">
          <mat-icon class="btn-center">add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addTab()">
            <mat-icon>group_work</mat-icon>
            <span>Group</span>
          </button>
          <button mat-menu-item (click)="addNewQuestion(tabGroup)">
            <mat-icon>help_outline</mat-icon>
            <span>Question</span>
          </button>
        </mat-menu>
      </div>

      <div *ngIf="hideBtnAddGroup" class="col-md-6">

        <div class="row">
          <div class="col-md-10">
            <mat-form-field class="full-width">
              <mat-label>Name</mat-label>
              <input matInput type="text" [(ngModel)]="newNameGroup" required [formControl]="groupFormControl">
              <button mat-button *ngIf="newNameGroup" matSuffix mat-icon-button aria-label="Clear" (click)="newNameGroup =''">
                  <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="groupFormControl.hasError('required')">
                Name group <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-1 btn-vertical" *ngIf="!hideBtnNewGroup">
            <button mat-icon-button color="accent" (click)="addNewTab()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="col-md-1 btn-vertical" *ngIf="hideBtnNewGroup">
            <button mat-icon-button color="accent" (click)="saveEditTab()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="col-md-1 btn-vertical">
            <button mat-icon-button color="accent" (click)="cancelData()">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>

    <mat-tab-group #tabGroup [selectedIndex]="selectedIndex">
      <mat-tab *ngFor="let tab of dataGroup; let index = index">

        <ng-template mat-tab-label>{{ tab.name }}
          <i *ngIf="dataGroup.length !== 1" class="material-icons" (click)="removeTab(index)">close</i>
          <i class="material-icons" (click)="editTab(index)">edit</i>
        </ng-template>
        <ng-template matTabContent>

          <app-question-list [quiz]="quiz" [group]="dataGroup[index]"></app-question-list>

        </ng-template>

      </mat-tab>
    </mat-tab-group>

  </div>


</div>
