.radio-align-vertical {
    margin-top: 2%;
}

.btn-align-vertical {
    margin-top: 1%;
}

.container-option-btn {
    justify-content: flex-end;
    position: relative;
}

.option-btn {
    position: absolute;
    margin-left: -1%;
    z-index: 2;
}

.feedback-mrgn-top {
    margin-top: -1%;
}