<quill-view [content]="question.text"></quill-view>


<div *ngIf="question.choicesDisplayType === choicesDisplayType.Horizontal || 
            question.choicesDisplayType === choicesDisplayType.Vertical">

  <mat-radio-group
    [ngClass]="(question.choicesDisplayType === choicesDisplayType.Horizontal)?'item-group-horizontal':'item-group-vertical'">

    <mat-radio-button *ngFor="let choice of question.choices" [value]="choice.id" class="item-box">
      {{choice.text}}
    </mat-radio-button>

  </mat-radio-group>

</div>


<div *ngIf="question.choicesDisplayType === choicesDisplayType.Dropdown">

  TODO:

</div>