#quiz {

    .top-bg {
        background: linear-gradient(90deg,#0e2a3b 0,#34306b) !important;
    }

    .center {

        .header {
            background-color: transparent !important; 
        }
        
    }

    .addButton{
        position: absolute;
        left: 56px;
        top: 236px;
    }

    .qb-container{
        width: 70%;
        margin: auto;
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}
