@mixin quiz-info-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .mat-row:hover {
        background-color: map-get($background, hover);
    }

}
