<div id="quiz" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent qb-container" fxLayout="row" fxLayoutAlign="none center">

            <button mat-icon-button [routerLink]="'/quizzes'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <!-- APP TITLE -->
            <div fxFlex fxLayoutAlign="center center" fxFlex="initial" fxFlexOffset="1">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{quizForm.get('settings.name').value}}
                </span>
            </div>
            <!-- / APP TITLE -->

            <div fxFlex></div>

            <button mat-raised-button fxFlex="nogrow"
                    [disabled]="!quizForm.valid"
                    (click)="onSave()">
                <span>SAVE</span>
            </button>

        </div>
        <!-- / HEADER -->

        <button mat-raised-button
            [style.visibility]="selectedIndex === 0 && isEditMode() ? 'visible': 'hidden'"
            (click)="addGroup()" 
            class="addButton" 
            color="accent">
            <mat-icon>add</mat-icon>
            <span>&nbsp;&nbsp;&nbsp;ADD GROUP&nbsp;&nbsp;</span>
        </button>

        <!-- CONTENT CARD -->
        <div class="content-card qb-container">

            <!-- CONTENT -->
            <div class="content">

                <div class="p-24" fusePerfectScrollbar [style.display]="selectedIndex === 0 ? 'block': 'none'">

                    <app-quiz-info-structure [quiz]="quiz">
                    </app-quiz-info-structure>
                    
                </div>

                <div class="p-24" fusePerfectScrollbar [style.display]="selectedIndex === 1 ? 'block': 'none'">

                    <app-quiz-info-start-page [form]="quizForm.get('settings')">
                    </app-quiz-info-start-page>

                </div>

                <div class="p-24" fusePerfectScrollbar [style.display]="selectedIndex === 2 ? 'block': 'none'">

                    <app-quiz-info-settings [form]="quizForm.get('settings')" [isEditMode]="isEditMode()">
                    </app-quiz-info-settings>
                    
                </div>

                <div class="p-24" fusePerfectScrollbar [style.display]="selectedIndex === 3 ? 'block': 'none'">

                    <app-quiz-info-appearance [form]="quizForm.get('settings')">
                    </app-quiz-info-appearance>
                    
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
