<vex-page-layout> 

  <vex-page-layout-content class="container">

      <app-options-menu
        *ngIf="question.type != emptyQuestionType" 
        [options]="options">
      </app-options-menu>
  
      <mat-tab-group>
  
        <mat-tab label="{{questionLangService.getQuestionTypeLangTerm(question.type)}}">
  
            <div class="container qb-card mt-4">

              <form [formGroup]="questionForm">
  
                <div class="mt-5">
      
                  <mat-form-field fxFlex="60" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                  </mat-form-field>
                  
                  <mat-checkbox
                    *ngIf="question.type != emptyQuestionType" 
                    fxFlexOffset="23" 
                    fxFlexAlign="center" 
                    formControlName="isRequired" 
                    color="primary" 
                    class="padding-bottom-fix" >
  
                    Is Required
  
                  </mat-checkbox>
  
                  <mat-form-field
                    *ngIf="question.type != emptyQuestionType" 
                    fxFlex="7" 
                    fxFlexOffset="2" 
                    appearance="outline">
  
                    <mat-label>Points</mat-label>
                    <input matInput type="number" formControlName="points">
  
                  </mat-form-field>
    
                </div>
  
                <app-rich-text-editor 
                  displayName="Text"
                  textFormControlName="text">
                </app-rich-text-editor>
    
                <div *ngFor="let option of getQuestionOptions()">
                  <div *ngIf="option.type == 'wysiwyg'" class="mt-5">
  
                    <app-rich-text-editor 
                      displayName="{{option.displayName}}"
                      textFormControlName="{{option.name}}">
                    </app-rich-text-editor>
  
                  </div>
                </div>
    
              </form>
              
              <div class="mt-5">
                <app-choice-dynamic [question]="question"></app-choice-dynamic>
              </div>

            </div>
  
        </mat-tab>

        <mat-tab label="Settings">
          <div class="p-6">
            <app-question-info-settings-dynamic [question]="question"></app-question-info-settings-dynamic>
          </div>
        </mat-tab>
  
      </mat-tab-group>


    <div class="footer-stick row"
      fxLayout
      fxLayoutAlign="center"
      fxLayout.xs="column"
      fxLayoutWrap="wrap"
      fxLayoutGap="1%">

      <button mat-raised-button 
        color="accent" 
        type="submit"
        (click)="onSave()"
        [disabled]="!isEnabled()">
        
        Save

      </button>

      <button mat-raised-button 
        color="accent" 
        (click)="onReturn()">

        Return

      </button>
    </div>


  </vex-page-layout-content>
</vex-page-layout>

 