<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="center center">
            <div>
                <h2>{{startPageInfo.name}}</h2>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="course-content" class="content">

            <div class="course-step" fusePerfectScrollbar>

                <div id="course-step-content" class="course-step-content">

                    <qb-rich-text-editor data="{{startPageInfo.introductionText}}"></qb-rich-text-editor>

                </div>

            </div>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
