<div class="container">

  <div class="main-color">
    <div class="row container-option-btn" fxLayoutAlign="flex-end">
      <button class="option-btn" mat-stroked-button [matMenuTriggerFor]="menu"> Options
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let option of options" (click)="clickOption($event, option)">
          <mat-icon *ngIf="option.enabled">done</mat-icon>
          <span>{{option.displayName}}</span>
        </button>
      </mat-menu>
    </div>
    <mat-tab-group>

      <mat-tab label="Question">

        <ng-template matTabContent>

          <form [formGroup]="questionForm">

              <div class="p-gutter container">
                <div class="card editor">
                  <quill-editor
                        @fadeInUp
                        formControlName="text"
                        [styles]="{ flex: '1 1 auto' }"
                        (onContentChanged)="onContentChanged($event);">
                  </quill-editor>
                </div>
              </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="question.name" required formControlName="name">
                    <button mat-button *ngIf="question.name" matSuffix mat-icon-button aria-label="Clear"
                            (click)="question.name =''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
  
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" required [(ngModel)]="question.type" [disabled]="question.id"
                                (selectionChange)="selectChangeType()">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let key of questionTypeKeys" [value]="key">
                        {{questionTypes[key]}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="questionForm.get('type').hasError('required')">Choice type</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Group</mat-label>
                    <mat-select #select [value]="question.groupId" (selectionChange)="selectGroup(select)">
                      <mat-option *ngFor="let groupRes of groupResurce" [value]="groupRes.id">
                        {{groupRes.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

          </form>



          <div class="mt-3">
            <div class="row"
              fxLayout
              fxLayout.xs="column"
              fxLayoutAlign="flex-start"
              fxLayoutWrap="wrap">
          </div>

            <div *ngFor="let option of options">
              <div class="row" *ngIf="option.enabled"
                fxLayout
                fxLayout.xs="column"
                fxLayoutWrap="wrap">

                <div class="col-md-12" fxFlex="100%">
                  <mat-form-field class="full-width">
                    <mat-label>{{option.displayName}}</mat-label>
                    <textarea matInput [(ngModel)]="question[option.name]"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

        </ng-template>
      </mat-tab>

      <mat-tab label="Settings">
        <ng-template matTabContent>
          Settings
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>

  <app-dynamic-choice
    [questionType]="question.type"
    [choices]="choices"
    [settings]="settings">
  </app-dynamic-choice>

  <div class="footer-stick row"
    fxLayout
    fxLayoutAlign="center"
    fxLayout.xs="column"
    fxLayoutWrap="wrap"
    fxLayoutGap="1%">

    <button mat-raised-button 
      color="accent" 
      type="submit"
      (click)="saveChange()"
      [disabled]="isDisabledBtn()">
      
      Save

    </button>

    <button mat-raised-button 
      color="accent" 
      (click)="replyClick()">

      Return

    </button>

    <button mat-raised-button 
      color="primary"
      (click)="openPreview()">

      Preview

    </button>

</div>


</div>
