<div class="container">

  <div class="card main-color">
    <div class="row container-option-btn" fxLayoutAlign="flex-end">
      <button class="option-btn" mat-stroked-button [matMenuTriggerFor]="menu"> Options
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let option of options" (click)="clickOption($event, option)">
          <mat-icon *ngIf="option.enabled">done</mat-icon>
          <span>{{option.displayName}}</span>
        </button>
      </mat-menu>
    </div>
    <mat-tab-group>

      <mat-tab label="Question">

        <ng-template matTabContent>

          <form [formGroup]="questionForm">

              <div class="container pt-gutter">

                <mat-form-field fxFlex="25" appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="type" required [(ngModel)]="question.type" [disabled]="isEditMode()"
                              (selectionChange)="selectChangeType()">
                    <mat-option *ngFor="let key of questionTypeKeys" [value]="key">
                      {{questionTypes[key]}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="questionForm.get('type').hasError('required')">Choice type</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="25" fxFlexOffset="2" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name">
                </mat-form-field>

              </div>

              <div class="container pb-gutter">
                <div class="card editor">
                  <quill-editor
                        @fadeInUp
                        formControlName="text"
                        [styles]="{ flex: '1 1 auto' }"
                        (onContentChanged)="onContentChanged($event);">
                  </quill-editor>
                </div>
              </div>

              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <mat-label>Group</mat-label>
                  <mat-select #select [value]="question.groupId" (selectionChange)="selectGroup(select)">
                    <mat-option *ngFor="let groupRes of groupResurce" [value]="groupRes.id">
                      {{groupRes.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div *ngFor="let option of getQuestionOptions()">

                <div *ngIf="option.type == 'wysiwyg'">
    
                  <div class="p-gutter container">
                    <div class="card editor">
                      <quill-editor
                            @fadeInUp
                            formControlName={{option.name}}
                            [styles]="{ flex: '1 1 auto' }"
                            (onContentChanged)="onContentChanged($event);">
                      </quill-editor>
                    </div>
                  </div>
    
                </div>
    
                <div *ngIf="option.type != 'wysiwyg'">
    
                  <div class="row"
                    fxLayout
                    fxLayout.xs="column"
                    fxLayoutWrap="wrap">
    
                    <div class="col-md-12" fxFlex="100%">
                      <mat-form-field class="full-width">
                        <mat-label>{{option.displayName}}</mat-label>
                        <textarea matInput [(ngModel)]="question[option.name]"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
    
                </div>
    
              </div>

          </form>

        </ng-template>
      </mat-tab>

    </mat-tab-group>

  </div>

  <app-dynamic-choice
    [questionType]="question.type"
    [choices]="choices"
    [settings]="settings">
  </app-dynamic-choice>

  <div class="footer-stick row"
    fxLayout
    fxLayoutAlign="center"
    fxLayout.xs="column"
    fxLayoutWrap="wrap"
    fxLayoutGap="1%">

    <button mat-raised-button 
      color="accent" 
      type="submit"
      (click)="saveChange()"
      [disabled]="isDisabledBtn()">
      
      Save

    </button>

    <button mat-raised-button 
      color="accent" 
      (click)="onReturn()">

      Return

    </button>

    <button mat-raised-button 
      color="primary"
      (click)="openPreview()">

      Preview

    </button>

</div>


</div>
