<div class="dialog-content-wrapper">
    
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

            <button mat-raised-button
                class="save-button"
                (click)="matDialogRef.close(form)"
                [disabled]="form.invalid"
                aria-label="SAVE">
                SAVE
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-36 pb-20 m-0">

        <form name="form" [formGroup]="form" class="event-form w-100-p" fxLayout="column" fxFlex>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Group Name</mat-label>
                <input matInput
                       name="name"
                       formControlName="name">
            </mat-form-field>

            <div fxFlex fxLayoutAlign="space-between center" class="h-92">

                <mat-checkbox fxFlex formControlName="selectAllQuestions" class="padding-bottom-fix w-100">
                    <span class="mat-body-1">Select All Questions</span>
                </mat-checkbox>

                <div fxFlex="nogrow">

                    <div  *ngIf="!form.get('selectAllQuestions').value" fxLayoutAlign="none center">
        
                        <div class="padding-bottom-fix">
                            <span class="mat-body-1">Select</span>
                        </div>
              
                        <mat-form-field appearance="outline" class="w-80 pl-8">
                          <mat-label>N</mat-label>
                          <input matInput type="number" formControlName="countOfQuestionsToSelect">
                        </mat-form-field>
              
                        <div class="padding-bottom-fix pl-8">
                          <span class="mat-body-1">Questions</span>
                        </div>
              
                      </div>
      
                      <div *ngIf="form.get('selectAllQuestions').value" class="padding-bottom-fix">
      
                          <mat-checkbox formControlName="randomizeQuestions"> 
                              <span class="mat-body-1">Randomize Questions</span>
                          </mat-checkbox>
      
                      </div>

                </div>

            </div>

        </form>
    </div>

</div>
