<div class="container">

  <div class="main-color">
    <div class="row">
      <div class="col-md-12">
        <h1>{{question.name || "New Question" }}</h1>
      </div>
    </div>
  
    <div class="row">

      <div *ngIf="!question.id" class="col-md-2">
        <button class="full-width" mat-raised-button 
        color="accent"
        type="submit"
        (click)="saveQuestion()"
        [disabled]="!questionForm.valid">Save</button>
      </div>

      <div *ngIf="question.id" class="col-md-2">
        <button class="full-width" mat-raised-button 
        color="primary"
        type="submit"
        (click)="updateQuestion()"
        [disabled]="!questionForm.valid">Update</button>
      </div>

      <div class="col-md-2">
        <button class="full-width" mat-raised-button [routerLink]="['/editquiz/', quiz.id]">
          <mat-icon>reply</mat-icon>
        </button>
      </div>

    </div>

  </div>

  <div class="main-color">
    <mat-tab-group>
      <mat-tab label="Question">
        <ng-template matTabContent>

          <div class="mt-3">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="full-width">
                  <mat-label>Name Quiz</mat-label>
                  <input matInput disabled [ngModel]="quiz.name">
                </mat-form-field>
              </div>
            </div>
          
            <form [formGroup]="questionForm">

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <mat-label>Group</mat-label>
                    <mat-select formControlName="groupId" disabled required [(ngModel)]="group.name" >
                    <mat-option>--</mat-option>
                      <mat-option *ngFor="let resource of groupResurce" [value]="resource.name">
                        {{resource.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="questionForm.get('type').hasError('required')">Choice type</mat-error>
                  </mat-form-field>
                </div>
              </div>
        
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Name Question</mat-label>
                    <input matInput type="text" [(ngModel)]="question.name" required formControlName="name">
                    <button mat-button *ngIf="question.name" matSuffix mat-icon-button aria-label="Clear" (click)="question.name =''">
                        <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
        
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Type Question</mat-label>
                    <mat-select formControlName="type" required [(ngModel)]="question.type" [disabled]="question.id">
                    <mat-option>--</mat-option>
                      <mat-option *ngFor="let resource of resources" [value]="resource">
                        {{resource}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="questionForm.get('type').hasError('required')">Choice type</mat-error>
                  </mat-form-field>
                </div>
              </div>
        
            </form>
          </div>

        </ng-template>
      </mat-tab>

      <mat-tab label="Settings">
        <ng-template matTabContent>
            Settings
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>

  <div *ngIf="question.id" class="main-color">
    <mat-tab-group>
      <mat-tab label="Aswer">
          <ng-template matTabContent>

            <div class="row mt-3">
              <div class="col-md-3">
                <button class="full-width" mat-raised-button color="primary" (click)="addNewAnswer()"
                [disabled]="question.type === 'True/False' && answerData.length >= 2">Add new answer</button>
              </div>
              <div class="col-md-3" *ngIf="answerData">
                <button class="full-width" mat-raised-button (click)="saveAnswer()">Save Changes</button>
              </div>
            </div>

            <div class="row mt-3" *ngIf="question.type === 'True/False'">

              <div class="col-md-12">
                <mat-radio-group (change)="changeRadioButton($event)">
                  <div class="row" *ngFor="let answer of answerData">
                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <mat-label>Name Answer</mat-label>
                        <input matInput type="text" [(ngModel)]="answer.name" disabled>
                      </mat-form-field>
                    </div>
                    <div class="col-md-1 radio-align-vertical">
                      <mat-radio-button [value]="answer.id" [checked]="answer.isCorrect">Correct</mat-radio-button>
                    </div>
                  </div>  
                </mat-radio-group>
              </div>

            </div>

            <div class="row mt-3" *ngIf="question.type === 'Multiple Choice'">
              <div class="col-md-12">

                <div class="row" *ngFor="let answer of answerData">

                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <mat-label>Name Answer</mat-label>
                      <input matInput type="text" [(ngModel)]="answer.name">
                      <button mat-button *ngIf="answer.name" matSuffix mat-icon-button aria-label="Clear" (click)="answer.name =''">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-1 radio-align-vertical">
                    <mat-checkbox [(ngModel)]="answer.isCorrect">Correct</mat-checkbox>
                  </div>
                  <div class="col-md-1 btn-align-vertical">
                    <button mat-icon-button color="accent" (click)="deleteAnswer(answer)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="row mt-3" *ngIf="question.type === 'Single Choice (Radio Button)' || question.type === 'Single Choice (Dropdown)'" >

              <div class="col-md-12">
                <mat-radio-group (change)="changeRadioButton($event)">
                  <div class="row" *ngFor="let answer of answerData">
                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <mat-label>Name Answer</mat-label>
                        <input matInput type="text" [(ngModel)]="answer.name">
                        <button mat-button *ngIf="answer.name" matSuffix mat-icon-button aria-label="Clear" (click)="answer.name =''">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-md-1 radio-align-vertical">
                      <mat-radio-button [value]="answer.id" [checked]="answer.isCorrect">Correct</mat-radio-button>
                    </div>
                    <div class="col-md-1 btn-align-vertical">
                      <button mat-icon-button color="accent" (click)="deleteAnswer(answer)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  
                </mat-radio-group>
              </div>
              
            </div>
    
          </ng-template>
      </mat-tab>
      <mat-tab label="Settings">
          <ng-template matTabContent>
              Settings
          </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
