<div class="container">

  <div class="main-color .header-stick">
    <div class="row">

      <div *ngIf="isNewState" class="col-md-2">
        <button class="full-width" mat-raised-button
        color="accent"
        type="submit"
        (click)="createQuestion()"
        [disabled]="isDisabledBtn()"
        >Save</button>
      </div>

      <div *ngIf="!isNewState" class="col-md-2">
        <button class="full-width" mat-raised-button
        color="primary"
        type="submit"
        (click)="updateQuestion()"
        [disabled]="isDisabledBtn()">Update</button>
      </div>

      <div class="col-md-2">
        <button class="full-width" mat-raised-button [routerLink]="['/editquiz/', quiz.id, 'group', group.id]">
          <mat-icon>reply</mat-icon>
        </button>
      </div>

    </div>

  </div>

  <div class="main-color">
    <mat-tab-group>
      <mat-tab label="Question">
        <ng-template matTabContent>

          <div class="mt-3">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <mat-label>Quiz</mat-label>
                  <input matInput disabled [ngModel]="quiz.name">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <mat-label>Group</mat-label>
                  <mat-select #select [value]="group.id" (selectionChange)="selectGroup(select)">
                    <mat-option *ngFor="let groupRes of groupResurce" [value]="groupRes.id">
                      {{groupRes.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>>
            </div>

            <form [formGroup]="questionForm">

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="question.name" required formControlName="name">
                    <button mat-button *ngIf="question.name" matSuffix mat-icon-button aria-label="Clear" (click)="question.name =''">
                        <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" required [(ngModel)]="question.type" [disabled]="!isNewState" (selectionChange)="selectChangeType()">
                    <mat-option>--</mat-option>
                      <mat-option *ngFor="let key of questionTypeKeys" [value]="key">
                        {{questionTypes[key]}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="questionForm.get('type').hasError('required')">Choice type</mat-error>
                </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mt-3">
                  <mat-form-field class="full-width">
                    <mat-label>Text</mat-label>
                    <textarea matInput formControlName="text" [(ngModel)]="question.text" required></textarea>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>

        </ng-template>
      </mat-tab>

      <mat-tab label="Settings">
        <ng-template matTabContent>
            Settings
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>

  <div *ngIf="question?.type === questionTypes.TrueFalse" class="main-color">
    <app-true-false-answer
      [answerData]="answerData"
      [question]="question"></app-true-false-answer>
  </div>

  <div *ngIf="question?.type === questionTypes.MultipleChoice" class="main-color">
    <app-multiple-choice-answer
      [answerData]="answerData"
      [question]="question"></app-multiple-choice-answer>
  </div>

</div>
