<form [formGroup]="form">

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Quiz Name</mat-label>
        <input matInput
            formControlName="name"
            required>
    </mat-form-field>

    <app-rich-text-editor *ngIf="isEditMode"
        displayName="Introduction"
        textFormControlName="introduction">
    </app-rich-text-editor>

    <div class="mat-form-field-wrapper" *ngIf="isEditMode">
        <mat-checkbox formControlName="isPrevButtonEnabled">
            <span class="mat-body-1">Enable Previous Page Navigation</span>
        </mat-checkbox>
    </div>

</form>