<form [formGroup]="form">

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Quiz Name</mat-label>
        <input matInput
            formControlName="name"
            required>
    </mat-form-field>

    <div *ngIf="isEditMode">

        <app-rich-text-editor
            displayName="Introduction"
            textFormControlName="introduction">
        </app-rich-text-editor>

        <div fxLayout fxLayoutAlign="none center">

            <mat-form-field appearance="outline" fxFlex="18">
                <mat-label>Page Settings</mat-label>
                <mat-select formControlName="pageSettings">
                    <mat-option *ngFor="let key of pageSettingsKeys" [value]="key">
                        {{pageSettings[key]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field appearance="outline" fxFlexOffset="2" fxFlex="5" *ngIf="isQuestionsPerPageVisisble()">
                <input matInput type="number" formControlName="questionsPerPage">
            </mat-form-field>
    
            <mat-checkbox class="mat-form-field-wrapper" fxFlexOffset="2" formControlName="randomizeGroups" *ngIf="isRandomizeGroupsVisible()">
                <span class="mat-body-1">Randomize Groups</span>
            </mat-checkbox>
    
            <mat-checkbox class="mat-form-field-wrapper" fxFlexOffset="2" formControlName="randomizeQuestions" *ngIf="isRandomizeAllVisible()">
                <span class="mat-body-1">Randomize Questions</span>
            </mat-checkbox>
    
            <div fxFlex></div>
    
            <mat-checkbox formControlName="isPrevButtonEnabled" fxFlex="nogrow" class="mat-form-field-wrapper">
                <span class="mat-body-1">Enable Previous Page Navigation</span>
            </mat-checkbox>
    
        </div>
    
        <div class="mat-form-field-wrapper">
            <mat-checkbox formControlName="isScheduleEnabled" >
                Set Availability Dates:
            </mat-checkbox>
        </div>
    
        <div fxLayoutAlign="none center">
    
            <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput [ngxMatDatetimePicker]="startDate" placeholder="Choose a date" formControlName="startDate" >
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startDate></ngx-mat-datetime-picker>
            </mat-form-field>
    
            <mat-form-field appearance="outline" fxFlexOffset="2">
                <mat-label>End Date</mat-label>
                <input matInput [ngxMatDatetimePicker]="endDate" placeholder="Choose a date" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endDate></ngx-mat-datetime-picker>
            </mat-form-field>
    
        </div>

    </div>



</form>