<form [formGroup]="form">

    <div class="p-24">


        <div fxLayoutAlign="none center" class="pb-24 pt-24"> 

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="25%">
                <mat-icon class="m-0 mr-16 secondary-text">last_page</mat-icon>
                <div class="h2 secondary-text">Navigation</div>
            </div>

            <div fxLayout="column" fxFlex="75%">

                <div fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex="18" class="w-300">
                        <mat-label>Page Settings</mat-label>
                        <mat-select formControlName="pageSettings">
                            <mat-option *ngFor="let key of pageSettingsKeys" [value]="key">
                                {{quizLangService.getPageSettingsLangTerm(key)}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFlexOffset="2" fxFlex="5" *ngIf="isQuestionsPerPageVisisble()" class="w-80">
                        <mat-label>N</mat-label>
                        <input matInput type="number" formControlName="questionsPerPage">
                    </mat-form-field>

                </div>
    
                <div class="mat-form-field-wrapper" >
                    <mat-checkbox formControlName="isPrevButtonEnabled">
                        <span class="mat-body-1">Enable Previous Page Navigation</span>
                    </mat-checkbox>
                </div>

            </div>

        </div>

        <hr>

        <div fxLayoutAlign="none center" class="pb-24 pt-24" >

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="25%">
                <mat-icon class="m-0 mr-16 secondary-text">shuffle</mat-icon>
                <div class="h2 secondary-text">Randomization</div>
            </div>

            <div fxLayout="column" fxFlex="75%" class="pt-20">

                <mat-checkbox class="mat-form-field-wrapper" formControlName="randomizeGroups" *ngIf="isRandomizeGroupsVisible()">
                    <span class="mat-body-1">Randomize Groups</span>
                </mat-checkbox>
        
                <mat-checkbox class="mat-form-field-wrapper" formControlName="randomizeQuestions" *ngIf="isRandomizeAllVisible()">
                    <span class="mat-body-1">Randomize Questions</span>
                </mat-checkbox>

            </div>
    
        </div>

        <hr>

        <div fxLayoutAlign="none center" class="pb-24 pt-24"> 

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="25%">
                <mat-icon class="m-0 mr-16 secondary-text">access_time</mat-icon>
                <div class="h2 secondary-text">Dates and Time</div>
            </div>

            <div class="mat-form-field-wrapper pt-20">
                <mat-checkbox formControlName="isScheduleEnabled" >
                    <span class="mat-body-1">Set Availability Dates:</span>
                </mat-checkbox>
            </div>
        
            <div fxLayoutAlign="none center" class="pt-20">
                <mat-form-field appearance="outline" fxFlexOffset="2">
                    <mat-label>Start Date</mat-label>
                    <input matInput [ngxMatDatetimePicker]="startDate" placeholder="Choose a date" formControlName="startDate" >
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #startDate></ngx-mat-datetime-picker>
                </mat-form-field>
        
                <mat-form-field appearance="outline" fxFlexOffset="2">
                    <mat-label>End Date</mat-label>
                    <input matInput [ngxMatDatetimePicker]="endDate" placeholder="Choose a date" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #endDate></ngx-mat-datetime-picker>
                </mat-form-field>
            </div>

        </div>

    </div>

</form>