<mat-radio-group>

  <div *ngFor="let choiceForm of choiceForms.controls" fxLayout>

    <ng-container [formGroup]="choiceForm">

      <app-rich-text-editor fxFlex="100%" displayName="Choice Text" textFormControlName="text">                                    
      </app-rich-text-editor>

      <mat-radio-button 
        color="primary"
        [value]="choiceForm.get('id').value" 
        [checked]="choiceForm.get('isCorrect').value" 
        fxFlexOffset="2" 
        fxFlexAlign="center" 
        class="padding-bottom-fix"
        (change)="onChange($event)">
        Correct
      </mat-radio-button>

    </ng-container>

  </div>

</mat-radio-group>