<div fxLayout="row" fxLayoutAlign="start center" class="mat-form-field-wrapper mt-20">

    <button mat-raised-button color="accent" class="add-button-fix" (click)="onAddChoice()">
        <mat-icon>add</mat-icon>
        <span>&nbsp;&nbsp;&nbsp;ADD CHOICE&nbsp;&nbsp;</span>
    </button>

    <ng-container [formGroup]="questionForm">

      <mat-checkbox color="accent" fxFlexOffset="4" class="mt-4" formControlName="randomize">
        Randomize Choices
      </mat-checkbox>

    </ng-container>

</div>

<div class="mt-12" cdkDropList (cdkDropListDropped)="reorder($event)">

    <mat-radio-group>

      <div *ngFor="let choiceForm of choiceForm().controls" fxLayout="column" > 
    
        <ng-container [formGroup]="choiceForm" >
    
          <div cdkDrag>

            <div>

              <mat-icon cdkDragHandle *ngIf="questionForm.get('randomize').value === false" class="mt-24" matTooltip="Reorder Choices">
                drag_indicator
              </mat-icon>
              <mat-icon cdkDragHandle *ngIf="questionForm.get('randomize').value === true">
                empty
              </mat-icon>

              <app-rich-text-editor fxFlex="100%" displayName="Choice Text" textFormControlName="text">                                    
              </app-rich-text-editor>

              <mat-form-field 
                appearance="outline" 
                floatLabel="always" 
                fxFlex="12%" 
                fxFlexOffset="2"
                *ngIf="isOptionEnabled(optionItemsService.OPTION_QUESTION_CHOICES_POINTS)">
                <mat-label>Points</mat-label>
                <input matInput type="number" formControlName="points">
              </mat-form-field>
        
              <mat-radio-button fxFlex="12%" *ngIf="!isOptionEnabled(optionItemsService.OPTION_QUESTION_CHOICES_POINTS)"
                color="accent"
                [value]="choiceForm.get('id').value" 
                [checked]="choiceForm.get('isCorrect').value" 
                fxFlexOffset="2" 
                class="mt-20"
                (change)="onChangeChoice($event)">
                Correct
              </mat-radio-button>
                
              <button mat-icon-button 
                color="primary" 
                (click)="onDeleteChoice(choice)"
                fxFlexOffset="2"
                class="mt-12">
                <mat-icon>delete</mat-icon>
              </button>

            </div>

            <div *ngIf="isOptionEnabled(optionItemsService.OPTION_QUESTION_CHOICES_FEEDBACK)">

              <mat-icon>empty</mat-icon>

              <app-rich-text-editor 
                fxFlex="73.9%" 
                displayName="Choice Feedback" 
                textFormControlName="feedback">                                    
              </app-rich-text-editor>

            </div>

          </div>

        </ng-container>
    
      </div>
    
    </mat-radio-group>

</div>


