<div fxLayout="row" fxLayoutAlign="start center" class="mat-form-field-wrapper">

    <button mat-raised-button color="accent" class="add-button-fix" (click)="onAddChoice()">
        <mat-icon>add</mat-icon>
        <span>&nbsp;&nbsp;&nbsp;ADD CHOICE&nbsp;&nbsp;</span>
    </button>

    <ng-container [formGroup]="questionForm">

      <mat-checkbox color="accent" fxFlexOffset="4" class="mt-4" formControlName="randomize">
        Randomize Choices
      </mat-checkbox>

    </ng-container>

</div>

<div class="mt-8" cdkDropList (cdkDropListDropped)="drop($event)">

    <mat-radio-group>

      <div *ngFor="let choiceForm of choiceForm().controls" fxLayout="column" > 
    
        <ng-container [formGroup]="choiceForm" >
    
          <div cdkDrag>

            <div>

              <button mat-icon-button matTooltip="Reorder Answers" class="mt-16">
                <mat-icon cdkDragHandle>drag_indicator</mat-icon>
              </button>

              <app-rich-text-editor fxFlex="100%" displayName="Choice Text" textFormControlName="text">                                    
              </app-rich-text-editor>
        
              <mat-radio-button 
                color="accent"
                [value]="choiceForm.get('id').value" 
                [checked]="choiceForm.get('isCorrect').value" 
                fxFlexOffset="2" 
                class="mt-24"
                (change)="onChangeChoice($event)">
                Correct
              </mat-radio-button>
                
              <button mat-icon-button 
                color="primary" 
                (click)="onDeleteChoice(choice)"
                fxFlexOffset="2"
                class="mt-16">
                <mat-icon>delete</mat-icon>
              </button>

            </div>

            <div *ngIf="isOptionEnabled(optionItemsService.OPTION_QUESTION_CHOICES_FEEDBACK)">
              <app-rich-text-editor 
                fxFlex="76.5%" 
                displayName="Choice Feedback" 
                textFormControlName="feedback">                                    
              </app-rich-text-editor>
            </div>

          </div>

        </ng-container>
    
      </div>
    
    </mat-radio-group>

</div>


