<div fxLayout="column" fxFlexFill>

    <div 
        fxFlex="50px;" 
        fxLayout="row" 
        fxLayoutAlign="center center"
        [style.backgroundColor]="attempt.appearance.headerBackground"> 
    </div>

    <div 
        fxFlex 
        fxLayout="row"
        [style.backgroundColor]="attempt.appearance.mainBackground">

        <div fxFlex="50" fxFlexOffset="25" >

            <div [style.backgroundColor]="attempt.appearance.cardBackground" class="card"
                fxLayoutAlign="center center">
                <span> {{attempt.quiz.name}} </span>
            </div>
            
            <div *ngFor="let question of getQuestions(); let i = index">
  
                <div [style.backgroundColor]="attempt.appearance.cardBackground" class="card">
                    <app-question-dynamic 
                        [question]="question">
                    </app-question-dynamic>
                </div>

            </div>

            <div class="borderless card"
                fxLayout="row"
                fxLayoutAlign="center center">

                <button mat-raised-button color="primary">Submit</button>

            </div>

        </div>
    </div>

    <div 
        fxFlex="40px;" 
        fxLayoutAlign="center center"
        [style.backgroundColor]="attempt.appearance.footerBackground">

    </div>

</div>


