<mat-radio-group>

  <div *ngFor="let choice of question.choices" fxLayout>

      <mat-form-field fxFlex="50%" appearance="outline" fxFlexAlign="center">
        <input matInput type="text" [(ngModel)]="choice.text">
      </mat-form-field>

      <mat-radio-button 
        color="primary"
        [value]="choice.id" 
        [checked]="choice.isCorrect" 
        fxFlexOffset="2" 
        fxFlexAlign="center" 
        class="padding-bottom-fix"
        (change)="onChoiceChange($event)">
        Correct
      </mat-radio-button>

  </div>

</mat-radio-group>

